{% extends 'base.html' %}

{% block title %}Recursos - FAO{% endblock %}

{% block content %}
<h1>Recursos y Material de la FAO</h1>
<p>
    Descubre imágenes y videos que muestran el trabajo de la FAO en la seguridad alimentaria global. 
    Estos recursos reflejan iniciativas clave para combatir la desnutrición y mejorar el acceso a los alimentos 
    en comunidades vulnerables.
</p>
<h3>Galería de Imágenes</h3>
<img src="https://digital-media.fao.org/Assets/V2/ChFVRjFTNTAwMDAwMDAwMDAwNBIDVFIxGiZcVFIxXDY4XGYzXDNiXDhlXDM4XHYxX1VGMVxVRjE5REsxLmpwZyIECAEQD0ABYgdVRjE5REsx~/2A6XC5IQLGWX/1RuyYMJAA2O3_pED/UF19DK1.jpg" class="img-fluid" alt="Agricultores FAO">

<h3 class="mt-4">Video Informativo</h3>
<div class="ratio ratio-16x9">
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/Mxzb3So9Xms" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>
<p>
    <h3>Para más información, visita el portal oficial de la FAO y accede a reportes detallados sobre el estado 
    de la seguridad nutricional en el mundo.</h3>
</p>
{% endblock %}

